<div class="row">
	<div class="col-md-6">
		<h1>Аптеки</h1>
		<span>Количество: <%= @drugstores.count %></span>
	</div>
	<div class="col-md-6">

	</div>
</div>

<%= will_paginate @drugstores %>

<div class="table-responsive">

	<table class="table table-condensed table-hover">
		<tr>
			<th>Внешний Id</th>
			<th>Название</th>
			<th>Количество</th>
			<th>Адрес</th>
			<th>Телефон</th>
			<th>Режим работы</th>
			<th>Дата обновления</th>
		</tr>

		<% @drugstores.each do |ds| %>
		<tr>
			<td><%= ds.external_id %></td>
			<td><%= link_to ds.name, drugstore_path(ds) %></td>
			<td><%= ds.product_num %></td>
			<td><%= ds.address %></td>
			<td><%= ds.phone %></td>
			<td><%= ds.working_hours %></td>
			<td><%= ds.data_last_update %></td>
		</tr>
		<% end %>
	</table>
</div>

