<h1>Drugstores</h1>

<%= form_for(:drugstore, url: import_drugstores_path) do |f| %> 
	
	<%= f.label :from %>
	<%= f.number_field :from %> 
	
	<%= f.label :to %>
	<%= f.number_field :to %>
	
	<%= f.submit "Import" %>

<% end %>

<br>
<table>
	<% @drugstores.each do |ds| %>
	<tr>
		<td><%= ds.external_id %></td>
		<td><%= link_to ds.name, drugstore_path(ds) %></td>
		<td><%= ds.product_price.count %></td>
		<td><%= ds.address %></td>
		<td><%= ds.phone %></td>
		<td><%= ds.working_hours %></td>
		<td><%= ds.data_last_update %></td>
	</tr>
	<% end %>
</table>

