<div class="row">
	<div class="col-md-6">
		<h1>Ассортимент аптек</h1>
		<span>Количество: <%= @ds_products.count %></span>
	</div>
	<div class="col-md-6">
		<%= form_tag ds_products_path, method: :get do %>
			<%= label_tag :search, 'Запрос:' %>
			<%= text_field_tag :search %>
			<%= submit_tag 'Выполнить' %>
		<% end %>
	</div>
</div>

<%= will_paginate @ds_products %>

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th>Id</th>
			<th>Внешний Id</th>
			<th>Группа</th>
			<th>Страна</th>
			<th>Компания</th>
			<th>Параметры</th>
			<th>Торговое наименование</th>
			<th><%= sortable 'max_price', 'Максимальная цена' %></th>
			<th><%= sortable 'min_price', 'Минимальная цена' %></th>
			<th><%= sortable 'avg_price', 'Средняя цена' %></th>
			<th><%= sortable 'drugstore_count', 'Количество аптек' %></th>
		</tr>

		<% @ds_products.each do |dsp| %>
			<tr>
				<td><%= dsp.id %></td>
				<td><%= dsp.external_id %></td>
				<td>
					<%= dsp.name %>
					<span class='emphasize'>
						<%= dsp.product.product_group_name unless dsp.product.nil? %>
					</span>
				</td>
				<td>
					<%= dsp.country_code %>
					<span class='emphasize'>
						<%= dsp.product.country_name unless dsp.product.nil? %>
					</span>
				</td>	
				<td>
					<%= dsp.company %>
					<span class='emphasize'>
						<%= dsp.product.company_name unless dsp.product.nil? %>
					</span>
				</td>
				<td>
					<%= dsp.pack_param %>
					<span class='emphasize'>
						<%= dsp.product.pack_param unless dsp.product.nil? %>
					</span>
				</td>		
				<td>
					<%= link_to dsp.full_name, dsp %>
					<span class='emphasize'>
						<%= dsp.product.full_name unless dsp.product.nil? %>
						<%= '(' + dsp.product.ean.to_s + ')' unless dsp.product.nil? %>
					</span>
				</td>
				<td align="right"><%= number_to_currency(dsp.max_price, unit: "") %></td>
				<td align="right"><%= number_to_currency(dsp.min_price, unit: "") %></td>
				<td align="right"><%= number_to_currency(dsp.avg_price, unit: "") %></td>	
				<td align="right"><%= dsp.drugstore_count %></td>
			</tr>
		<% end %>
	</table>
</div>

<%= will_paginate @ds_products %>
