<div class="row">
	<div class="col-md-6">
		<h1>Ассортимент аптек</h1>
		<span>Количество: <%= @ds_products.count %></span>
	</div>
</div>

<%= will_paginate @ds_products %>

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th>Id</th>
			<th>Внешний Id</th>
			<th>Торговое наименование</th>
			<th>Максимальная цена</th>
			<th>Минимальная цена</th>
			<th>Средняя цена</th>
			<th>Количество аптек</th>
		</tr>

		<% @ds_products.each do |dsp| %>
			<tr>
				<td><%= dsp.id %></td>
				<td><%= dsp.external_id %></td>
				<td><%= link_to dsp.full_name, edit_ds_product_path(dsp) %></td>
				<td><%= dsp.max_price %></td>
				<td><%= dsp.min_price %></td>
				<td><%= dsp.avg_price %></td>				
				<td><%= dsp.drugstore_count %></td>
			</tr>
		<% end %>
	</table>
</div>
