<div class="row">
	<div class="col-md-6">
		<%= link_to "<-- Назад", ds_products_path %>
		<h1><%= @ds_product.full_name %></h1>
	</div>
	<div class="col-md-6">
		<%= form_tag @ds_product, method: :get do %>
			<%= label_tag :search, 'Запрос:' %>
			<%= text_field_tag :search %>
			<%= submit_tag 'Выполнить' %>
		<% end %>
		<br>
		<%= form_tag @ds_product, method: :get do %>
			<%= hidden_field_tag :product_id %>
			<%= submit_tag 'Связать' %>
		<% end %>
		<br>
		<h4><%= @ds_product.product_id %></h4>
	</div>
</div>

<% if @scores %>

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th>Флаг</th>
			<th>Код РЛС</th>
			<th>Название группы</th>
			<th>Страна</th>
			<th>Производитель</th>
			<th>Параметры</th>
			<th>Категория</th>
			<th>Тип</th>
			<th>МНН</th>
			<th>Штрих-код</th>
		</tr>
			<tr>
				<td></td>
				<td></td>				
				<td>
					<span class="emphasize">
						<%= @ds_product.name %>
					</span>
				</td>
				<td>
					<span class="emphasize">
						<%= @ds_product.country_code %>
					</span>
				</td>
				<td>
					<span class="emphasize">
						<%= @ds_product.company %>
					</span>
				</td>
				<td>
					<span class="emphasize">
						<%= @ds_product.pack_param %>
					</span>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<% @scores.each do |s| %>
			<% p = s.product %>
			<tr>
				<td><input type="radio" name="prod_select" id="<%= s.product.id %>"></td>
				<td><%= p.rls_code %></td>				
				<td><%= p.product_group_name %></td>
				<td>
					<%= p.country_name %>
					<span class="emphasize">
						<%= number_to_percentage s.country_score %>
					</span>
				</td>
				<td>
					<%= p.company_name %>
					<span class="emphasize">
						<%= number_to_percentage s.company_score %>
					</span>
				</td>
				<td>
					<%= p.pack_param %>
					<span class="emphasize">
						<%= number_to_percentage s.pack_score %>
					</span>
				</td>
				<td><%= p.product_group_category %></td>
				<td><%= p.product_group_type %></td>
				<td><%= p.inn_name %></td>
				<td><%= p.ean %></td>
			</tr>
		<% end %>

	</table>
</div>
	
<% end %>