<div class="row">
	<div class="col-md-6">
		<h1>Список групп</h1>
		<span>Количество: <%= @product_groups.count %></span>
	</div>
</div>

<%= will_paginate @product_groups %>

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th>Название</th>
			<th>Категория</th>
			<th>Тип</th>
			<th>Количество продуктов</th>
		</tr>
		
		<% @product_groups.each do |pg| %>
			<tr>
				<td><%= link_to pg.name, pg %></td>			
				<td><%= pg.category %></td>			
				<td><%= pg.group_type.name unless pg.group_type.nil?%></td>					
				<td><%= pg.products.count %></td>
			</tr>
		<% end %>

	</table>
</div>