<div class="row">
	<div class="col-md-6">
		<h1><%= @product_group.name %></h1>
		<h4><%= @product_group.alias %></h4>
		<span>Количество: <%= @products.count %></span>
	</div>
	<div class="col-md-6">
		<%= form_tag edit_product_group_path(@product_group), method: :get do %>
			<%= text_field_tag :alias %>
			<%= submit_tag "Изменить" %>
		<% end %>
	</div>
</div>

<%= will_paginate @products %>

<%= render 'shared/product_list' %>
