<div class="row">
	<div class="col-md-6">

		<h1>Ассортимент аптек</h1>
	</div>
	<div class="col-md-6">
		<span>Количество продуктов <%= @ds_products.count %></span>
		<%= form_tag update_db_ds_product_index_path, class: "form-inline" do %>
		  <%= submit_tag "Обновить" %>
		<% end %>
	</div>
</div>

<%= will_paginate @ds_products %>

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th>Id</th>
			<th>Внешний Id</th>
			<th>Торговое наименование</th>
			<th>Количество аптек</th>
		</tr>

		<% @ds_products.each do |dsp| %>
			<tr>
				<td><%= dsp.id %></td>
				<td><%= dsp.external_id %></td>
				<td><%= dsp.full_name %></td>
				<td><%= dsp.product_price.count %></td>
			</tr>
		<% end %>
	</table>
</div>
