<div class="row">
	<div class="col-md-6">
		<h1><%= @ds_product.full_name %></h1>
	</div>
	<div class="col-md-6">
		<%= form_tag get_product_group_list_ds_product_index_path, class: "form-inline" do %>
			<%= hidden_field :product, 'id', value: @ds_product.id %>
		  <%= submit_tag "Показать список товаров" %>
		<% end %>
	</div>
</div>

<% if @product_groups %>

	<%# will_paginate @product_groups %>

	<div class="table-responsive">
		<table class="table table-condensed table-hover">
			<tr>
				<th>Название</th>
				<th>Категория</th>
				<th>Тип</th>
				<th>Количество продуктов</th>
			</tr>
			
			<% @product_groups.each do |pg| %>
				<tr>
					<td><%= link_to pg.name, pg %></td>			
					<td><%= pg.category %></td>			
					<td><%= pg.group_type.name unless pg.group_type.nil?%></td>					
					<td><%= pg.products.count %></td>
				</tr>
			<% end %>

		</table>
	</div>
	
<% end %>