<div class="row">
	<div class="col-md-6">
		<h1>Список продуктов из РЛС</h1>
		<span>Количество: <%= @rls_products.count %></span>
	</div>
</div>
	
<%= will_paginate @rls_products %>

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th>Код РЛС</th>
			<th>Название группы</th>
			<th>Категория</th>
			<th>Тип</th>
			<th>Форма</th>
			<th>Дозировка</th>
			<th>Фасовка</th>
			<th>Производитель</th>
			<th>Страна</th>
			<th>МНН</th>
			<th>Штрих-код</th>
		</tr>
		
		<% @rls_products.each do |product| %>
			<tr>
				<td><%= product.code %></td>
				<td><%= product.name %></td>
				<td><%= product.category %></td>
				<td><%= product.product_group_type %></td>
				<td><%= product.product_form %></td>
				<td><%= product.dose %></td>
				<td><%= product.pack %></td>
				<td><%= product.company %></td>
				<td><%= product.country %></td>
				<td><%= product.inn %></td>
				<td><%= product.ean %></td>
			</tr>
		<% end %>

	</table>
</div>